input::-webkit-input-placeholder {
color: black !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: black !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
}
 
input:-ms-input-placeholder {  
color: black !important;  
}
textarea::-webkit-input-placeholder {
color: black !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: black !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
}
 
textarea:-ms-input-placeholder {  
color: black !important;  
}
.breakword{
	word-wrap: break-word;
}
.marges{
	margin-left: 30%;
	margin-right: 30%;
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
header{ height:50px; }


/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 100px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}